<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

<script>
  $(function() {
    function fixPlaceHolderWidth(event, ui){
        // adjust placeholder td width to original td width
        ui.children().each(function(){
            $(this).width($(this).width());
        });
        return ui;
    };
    $( '#sort-table' ).sortable({
      axis:"y",
      placeholder: 'ui-state-highlight',
        start: function(event, ui){
            ui.placeholder.height(ui.helper.outerHeight());
        },
      helper: fixPlaceHolderWidth,
      update: function(){
        var sortIdArray = $('#sort-table').sortable("toArray");
        var sortIdString = sortIdArray.toString();
        var tsortIdString = sortIdString.replaceAll('department_','');
        // .replaceAll(',','')
        // var tsortIdArray = Array.from(tsortIdString);
        console.log(sortIdArray);
        console.log(tsortIdString);
        // console.log(tsortIdArray);
        $.ajax({
          url: '/managers/departments/sort',
          type: 'post',
          data: {
            _method: 'patch',
            sorted_id: `${tsortIdString}`
            // from: oldIndex,
            // to: newIndex
            }
        });
        }
      });
  });
  //     $(function() {
            // var el, sortable;
            // el = document.getElementById("#sort-table");
            // console.log(el);
            // if (el !== null) {
            //   return sortable = Sortable.create(el, {
            // //     delay: 200,
            //     onUpdate: function(evt) {
            //       return 
  // }
          //   });
          // }
  // }
    // })
</script>
    <div class="row">
      <div class = " text-center offset-4 col-4 mt-4">
        <h2>部署一覧</h2>
      </div>
      <button type="button" class="btn btn-dark d-none" id="open-department-modal"  data-toggle="modal" data-target="#departmentModal"></button>
      <div class= " text-right offset-3 mt-4">
        <%= link_to "新規部署追加", new_managers_department_path, remote: true %>
      </div>
      <!-- newModal -->
      <div class="modal fade" id="departmentModal" tabindex="-1" role="dialog" aria-labelledby="departmentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="departmentModalLabel">新規部署追加</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>部署ID</th>
              <th>部署名</th>
              <th>説明</th>
            </tr>
          </thead>
          <tbody id = "sort-table">
            <%= render partial: "department", collection: @departments %>
          </tbody>
        </table>
        <button type="button" class="btn btn-dark d-none" id="open-department-edit-modal"  data-toggle="modal" data-target="#department-edit-Modal"></button>
      <!-- editModal -->
      <div class="modal fade" id="department-edit-Modal" tabindex="-1" role="dialog" aria-labelledby="department-edit-ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="department-edit-ModalLabel">部署編集</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-edit-body">
              ...
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
