header {
  z-index: 100;
}

.side_bar {
  background-color: #343a40;
  width: 250px;
  height: 100%;
  top: 80px;
  z-index: 50;

  ul {
    margin: 0;
    padding: 0;
    top: 20px;
    left: 60px;
    position: absolute;

    li {
      margin: 20px auto;
      list-style: none;

      a {
        font-size: 16px;
      }
    }
  }

  button {
    color: aliceblue;
    background-color: #343a40;
    display: block;
    position: absolute;
    top: 150px;
    left: 250px;
    width: 52px;
    height: 125px;
    margin: 0;
    padding: 0;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
  }
}

.side_bar.open {
  left: 0;
}

.side_bar.close {
  left: -250px;
}